.common {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  composes: common;
  flex-direction: column;
  box-sizing: border-box;
}

.title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--color);
  padding: 0;
  margin: 60px auto 20px;
}

.form {
  composes: common;
  min-height: 400px;
  max-width: 300px;
  width: 100%;
  margin: 20px;
  border-radius: 10px;
}

@media screen and (min-width: 320px) and (max-width: 539px) {
  .title {
    font-size: 20px;
    line-height: 24px;
  }
}
