.common {
  display: flex;
  flex-direction: row;
}

.items {
  composes: common;
  margin: 0;
  padding: 0;
  align-self: center;
  width: auto;
  justify-content: flex-end;
  list-style: none;
}

.item {
  composes: common;
  margin-left: 10px;
}

.contact {
  composes: common;
  color: var(--color);
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  transition: opacity 0.5s ease;
  opacity: 0.8;
}

.contact:hover {
  opacity: 1;
  cursor: pointer;
}

.contact:visited {
  color: var(--color);
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0 2px 0 0;
  padding: 0;
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 599px) {
  .items {
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .item {
    margin-left: 0;
    margin-top: 15px;
  }

  .icon {
    height: 16px;
    width: 16px;
  }

  .contact {
    font-size: 14px;
    line-height: 16px;
  }
}
