.common {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container {
  composes: common;
  margin: 45px auto 0;
  padding: 0;
  min-height: 300px;
  height: 60vh;
  max-width: 880px;
}

.counter {
  composes: common;
  color: var(--color);
  align-self: center;
  max-width: 30px;
}

.value {
  composes: common;
  color: var(--color);
  align-self: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
}

.icon {
  composes: common;
  align-items: center;
  align-self: center;
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  opacity: 0.75;
  transition: opacity 0.5s ease;
  background-color: var(--background-color);
  color: var(--color);
  box-sizing: border-box;
}
