.container {
  min-width: 300px;
  max-width: 500px;
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--header-bg-color);
  border-radius: 40px;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    width: calc(100% - 30px);
  }
}

.close {
  position: absolute;
  height: 32px;
  width: 32px;
  background-image: url("../../images/close.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: -40px;
  right: -40px;
  background-color: rgb(0 0 0 / 0%);
  border: 0;
}

.close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 539px) {
  .close {
    height: 20px;
    width: 20px;
    top: -36px;
    right: 0;
  }
}
