.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--color);
  padding: 0;
}