.common {
  padding: 0;
  margin: 0;
}

.like {
  composes: common;
  display: flex;
  flex-direction: column;
}

.button {
  composes: common;
  align-self: flex-end;
  width: 22px;
  height: 19px;
  background-image: url("../../../../images/stroke.svg");
  background-size: cover;
  background-color: var(--card-background-color);
  border: 0;
}

.button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.checked {
  background-image: url("../../../../images/stroke-checked.svg");
}

.disabled {
  opacity: 0.3;
}

.counter {
  composes: common;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-align: center;
  color: black;
}
