.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  height: 30px;
  width: 30px;
  top: 20px;
  right: 20px;
  padding: 0;
  background-color: rgb(0 0 0 / 0%);
  border: 0;
  color: #fff;
  opacity: 0.8;
  transition: opacity 0.5s ease;
}

.button:hover {
  opacity: 1;
}
