# This is a basic workflow to help you get started with Actions

name: Deploy

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ main ]

env:
  NODE_ENV: production
  PORT: 4000
  IMAGE_NAME: cr.yandex/${{ secrets.CR_REGISTRY }}/${{ secrets.CR_REPOSITORY }}-frontend:latest
  API_HOST: ${{ secrets.API_HOST }}
  YA_ENDPOINT: ${{ secrets.YA_ENDPOINT }}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  deploy:
    runs-on: ubuntu-latest
    # needs: set_up_env
    steps:

      # initialize repo
      - uses: actions/checkout@v2

      - name: Login to Yandex Cloud Container Registry
        id: login-cr
        uses: yc-actions/yc-cr-login@v1
        with:
          yc-sa-json-credentials: ${{ secrets.YC_SA_JSON_CREDENTIALS }}

      - name: Build, tag, and push image to Yandex Cloud Container Registry
        env:
          CR_REGISTRY: ${{ secrets.CR_REGISTRY }}
          CR_REPOSITORY: ${{ secrets.CR_REPOSITORY }}
          IMAGE_TAG: ${{ github.sha }}
          NODE_ENV: ${{ env.NODE_ENV }}
          PORT: ${{ env.PORT }}
          API_HOST: ${{ secrets.API_HOST }}
          YA_ENDPOINT: ${{ secrets.YA_ENDPOINT }}

        run: |
          cd frontend
          echo YA_ENDPOINT=${{ secrets.YA_ENDPOINT }} >> .env.production
          echo API_HOST=${{ secrets.API_HOST }} >> .env.production
          cd ../backend
          echo OAUTH_YA_CLIENT_ID=${{ secrets.OAUTH_YA_CLIENT_ID }} >> .env
          echo OAUTH_YA_CLIENT_SECRET=${{ secrets.OAUTH_YA_CLIENT_SECRET }} >> .env
          echo DEV_JWT_SECRET=${{ secrets.DEV_JWT_SECRET }} >> .env
          echo PORT=${{ secrets.PORT }} >> .env
          echo DATABASE_URL=${{ secrets.DATABASE_URL }} >> .env
          echo POSTGRES_HOST=${{ secrets.POSTGRES_HOST }} >> .env
          echo POSTGRES_PORT=${{ secrets.POSTGRES_PORT }} >> .env
          echo POSTGRES_USER=${{ secrets.POSTGRES_USER }} >> .env
          echo POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} >> .env
          echo POSTGRES_DB=${{ secrets.POSTGRES_DB }} >> .env
          echo TELEGRAM_TOKEN=${{ secrets.TELEGRAM_TOKEN }} >> .env
          echo TELEGRAM_CHAT_ID=${{ secrets.TELEGRAM_CHAT_ID }} >> .env
          echo TELEGRAM_LEVEL=${{ secrets.TELEGRAM_LEVEL }} >> .env
          cd ..

          docker-compose build
          docker push cr.yandex/$CR_REGISTRY/$CR_REPOSITORY-frontend:latest
          docker push cr.yandex/$CR_REGISTRY/$CR_REPOSITORY-backend:latest
        